# Preview
SITECORE_CH1_CLIENT_KEY=
SITECORE_CH1_ENDPOINT_URL="https://content-api.sitecorecloud.io/api/content/v1/preview/graphql/"

# CDP Integration
SITECORE_CDP_CLIENT_KEY=
SITECORE_CDP_POS=
SITECORE_CDP_COOKIE_DOMAIN=
SITECORE_CDP_TARGET_URL=

# Google Analytics
NEXT_PUBLIC_MEASUREMENT_ID=""

# Production
#SITECORE_CH1_CLIENT_KEY=
#SITECORE_CH1_ENDPOINT_URL="https://edge.sitecorecloud.io/api/graphql/v1/"

## Azure Table Storage
AZURE_TABLE_NAME='Urls'
AZURE_TABLE_CONNECTION_STRING="UseDevelopmentStorage=true"