body {
  background: white;
  color: #aaa;
  font-size: 29px;
  font-family: 'Work Sans', sans-serif;
  line-height: 46.5px;
  margin: 160px;
}

br {
  content: '';
  display: block;
  margin-bottom: 24px;
}

.img {
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  font-family: 'Nanum Gothic Coding', monospace;
  transform: translateX(-50%);
  line-height: 11.67px;
}

.title {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 140px;
  line-height: 104px;
}

#output div {
  margin-bottom: 16px;
}

#input {
  color: lightskyblue;
  background: transparent;
  font-size: 29px;
  font-family: 'Work Sans', sans-serif;
  border: none;
  position: relative;
  bottom: 1px;
  margin-top: 33px;
}

.App-logo {
  width: 70% !important;
}
